{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %}

{{posteo.titulo}}


<h4>{{posteo.subtitulo}}</h4>

{% endblock %}

  {%block contenido %}

  <!-- Post header-->
  <header class="mb-4">
  <!-- Post meta content-->
  <div class="text-muted fst-italic mb-2">Posteado el {{posteo.fecha}} por {{posteo.autor}}</div>
  
    {%if user.is_authenticated %}

        {%if user.id == posteo.autor.id %}
             <a href="{% url 'update-posteo' posteo.pk %}">Editar</a> 
             - <a href="{% url 'delete-posteo' posteo.pk %}">Eliminar</a>
         {%endif%}

    {%endif%}
  </header>

  <hr>

  {% if posteo.imagen %}

        <img src="{{posteo.imagen.url}}"> <br> <br>

  {% endif %}

  <p class="fs-5 mb-4"> {{posteo.cuerpo}}</p>
  
  <hr>

  <h3>Comentarios ....</h3>
  
  <a href="{% url 'add-comentarios' posteo.pk %}"> Agrega Comentarios </a>

  <br> <br>

      {% for comentario in posteo.comentarios.all %}

          <!-- Single comment-->
        
            <div class="ms-3">
                <div class="fw-bold">{{ comentario.nombre }} - {{ comentario.fecha }}</div>
                    <p>{{ comentario.cuerpo }} </p>
                <hr/>
            </div>
  
      {%endfor%}   
    


      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-2">
           
            {% if posteo.autor.perfil.perfil_pic %} 
                <img src="{{posteo.autor.perfil.perfil_pic.url}}"class="img-fluid rounded-start" >
            {% else %}
                <img src="{% static 'AppCoder/imagen/default.jpg' %}"class="img-fluid rounded-start" >
            {% endif %}
        
        </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{posteo.autor}}</h5>
              {% if posteo.autor.perfil.web_url %}
                <p class="small text-muted"> <a href="{{posteo.autor.perfil.web_url}}"> Website </a> </small></p>
              {% endif %}
              <p class="card-text">{{posteo.autor.perfil.bio}}</p>
            </div>
          </div>
        </div>
      </div>


  {% endblock %}